@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    
    text-align: center;
    box-sizing: border-box;
}

/* Header Section */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

#logo {
    height: 50px;
}

#nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav li {
    margin-left: 40px;
}

#nav a {
    color: seashell;
    text-decoration: underline;
}

/* Banner Section */
#banner {
    height: 700px;
    width: 100%;
    max-width: 1200px;
    background-image: url('../images/img-mission-background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 69px;
}

.mission-content {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission-content h2, .mission-content h4 {
    margin: 0;
}

/* Featured Tea Section */
#featuredTea {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
}

.tea-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.tea-items div {
    flex: 1 1 calc(33.333% - 40px);
    max-width: 300px;
    min-width: 200px;
    text-align: center;
}

.tea-items div img {
    width: 100%;
    height: auto;
    max-width: 250px;/
}

.tea-items div h4 {
    margin-top: 20px;
}

/* Locations Section */
#locations {
    height: 500px;
    width: 100%;
    max-width: 1200px;
    background-image: url('../images/img-locations-background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    box-sizing: border-box;
    overflow: auto;
}

.location-boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0.96;
    padding: 10px 20px 0px;
}

.location-box {
    background-color: black;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    opacity: 1;
}

/* Contact Section */
#contact {
    width: 100%;
    max-width: 1200px;
    padding: 50px 20px;
    box-sizing: border-box;
}

/* Footer */
footer {
    width: 100%;
    text-align: left;
    padding: 20px;
}

 #copyright {
    padding: 0px 20px;
    margin: 0px;
}
